/*#footMain
{
    width:auto;
    height:200px;
    background-color: gray;
    margin-top: 20px;
}*/

#foot 
{
    border-top: 3px solid green;
}

@media (max-width: 768px) {
    
    h1
    {
        line-height: 0.8em;
    }
}



